body {
    background-color: rgb(240, 242, 245);
    color: rgb(28, 30, 33);
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    position: relative;

    height: 100vw;

    margin: 0;
}