.facebook-body {
    color: #1c1e21;
    direction: ltr;
    font-size: 12px;
    align-items: flex-start;
    justify-content: space-between;
    flex-basis: 0px;
    min-height: inherit;
    flex-wrap: nowrap;
    z-index: 0;
    box-sizing: border-box;
    min-width: 0;
    flex-grow: 1;
    position: relative;
    flex-direction: row;
    display: flex;
    flex-shrink: 1;
    max-width: none;
    font-family: inherit;
    top: 56px;
}

.main-body {
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    flex-basis: 744px;
    flex-wrap: nowrap;
    z-index: 0;
    align-items: stretch;
    box-sizing: border-box;
    min-width: 0;
    flex-grow: 1;
    position: relative;
    flex-direction: row;
    padding-left: 32px;
    display: flex;
    justify-content: center;
    padding-right: 32px;
    flex-shrink: 1;
    font-family: inherit;
}