/* using CSS variables which always start with -- */
:root {
    --primary: crimson;
    --dark: #1F2937;
    --darker: #111827;
    --light: #F3F4F6;
}

/* now target everything */
* {
    box-sizing: border-box; /* important! inlcudes the padding and margin in the total width/height, */
    margin: 0;
    font-family: 'Fira sans', sans-serif;
}

/* we can use the stored variables anywhere in our code */
body {
    background: var(--dark);
    color: var(--light);
}

.watch {
    text-align: center;
    background-color: var(--darker);
    width: 100%;
    max-width: 360px;
    margin: 4rem auto; /* 4rem top/bottom and auto to centre it left and right */
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.time {
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls button {
    appearance: none; /* resets all the styling */
    background: none; /* " " " */
    border: none; /* " " " */
    outline: none; /* " " " */
    user-select: none; /* prevents user from highlighting the text */
    cursor: pointer;

    color: var(--light);
    font-size: 1.125rem;
    background-color: var(--primary);
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    transition: 0.15s;
}

.disabled {
    pointer-events: none;
    opacity: 0.3;
  }

button:hover {
    opacity: 0.8;
}

button:active {
    background-color: var(--dark);
}