main {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    flex: 1;
    min-height: inherit;
    max-height: 100vh;

    top: var(--heading-height);

    scrollbar-width: none;

    overflow: scroll;
    scroll-snap-type: y proximity;
    scroll-snap-stop: always;
}

main::-webkit-scrollbar {
    display: none;
}

main .container {
    scroll-snap-align: start;
    scroll-padding: 1rem;
    width: 100%;
    flex-basis: 50%;
    padding: 0 1vw;
    background-color: var(--background-color);
}

main section {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
}

main .intro-page {
    background-color: var(--dark-accent);
}

main .container:nth-of-type(odd) {
    background-color: var(--dark-accent);
}

main .container:nth-of-type(even) {
    background-color: var(--background-color);
}

/* # MEDIA QUERIES # */

@media (max-width: 760px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-section {
        opacity: 0;
    }

    .right-section {
        position: absolute;
        opacity: 1;
    }

    main .container {
        padding: 0;
    }

    .about-container {
        flex-direction: column;
        top: 0;
    }

    .about-container div {
        flex-direction: column;
        justify-content: start;
    }

    .about-text{
        text-align: center;
        font-size: 1rem;
        line-height: 4vh;
    }
}

@media (min-width: 900.1px) {
    .project-list {
        grid-template-columns: 1fr 1fr;
    }

    .project {
        height: 20vh;
    }

    .project-description {
        -webkit-line-clamp: 5;
    }

    main .container {
        padding: 1 15vw;
    }
}

@media (min-width: 760px) and (max-width: 900px) {
    .project-description {
        font-size: 0.9rem;
        letter-spacing: -0.05rem;
    }

    .project-image {
        width: 12vw;
    }

    .text-container {
        margin-left: 12vw;
    }
}